* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(180deg, #B22222,#DC143C);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  margin: 50px auto;
  width: 70%;
  padding: 2rem;
  background-color: #FFFFFF;
  border-radius: 0.25rem;
}