* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(180deg, #B22222,#DC143C);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
width: 70%;
margin: 50px auto;
padding: 4rem;
background-color: #ffffff;
border-radius: 0.25rem;

&__text {
  font-weight: 600;
}
}